.modal{
    height: 117%;
    width: 100vw;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active{
    opacity: 1;
    pointer-events: all;

}
.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: aliceblue;
    overflow-y: auto;
    width: 700px;
    height:700px;
}