.ReservationModalCompleted{
    background-color: #3fc66e;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
    margin:15px 0 20px 0;
    
}
.ReservationModalCompleted h1 {
    
    color: #eaeaea; 
}
.ReservationModalCompleted p {
    
    color: #eaeaea; 
}
.ReservationModalCompleted div{
    display: flex;
    align-items: center;
    font-size: 16px;
    
    color: #5a422c; 
}
.ReservationModalCompleted img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.modal__ReservationCompleted{
    display: flex;
    justify-content: space-evenly;
}
.Buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Buttons button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 50px;
    padding: 5px 10px 5px 10px;
}
.ModifyButton{
    background-color: #0073ff64;
    color: #123968;
}
.CancelButton{
    background-color: #ff000047;
    color: #ff0000;
}
#ReservationCompletedImg{
    margin: auto 0 auto 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 20px #d0ccc752, 0 0 0 40px #d0ccc72b;

}


/*Reservation Cancel*/
#ReservationModalCancel{
    background-color: #FF8A00;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 25px;
    margin:15px 0 50px 0;
}
.CencelReservation{
    display: flex;
    justify-content: flex-end;
    margin: 50px 0 20px 0;
}
.CencelReservation button{
    background-color: #FF3838; 
    width: 200px;
    height: 50px;
}
