.password-recovery{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    padding: auto;
}
.password-recovery button{
    margin: auto;
    margin-top: 30px;
}
.password-recovery div{
    margin-top: 30px;
}
#email{
    width: 300px;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}