.Authorization{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
#Authorization{
    padding-left: 5px;
    width: 50vw;
}
@media  (max-width: 767px){
    .BackgroundAutorixation{
        display: none;
    }
    #Authorization{
        
        width: 100vw;
    }
    .Authorization__form{
        padding: 0 15% 15% 15% ;
    }
}

.Authorization__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 20%;
    
} 
.Authorization__checkbox{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Authorization__form input{
    
    height: 50px;
    
    border-radius: 5px;
    border: 1px solid #d0ccc7;
    background-color:#d0ccc723 ;
    padding: 5px;
}
.Authorization__form button{
    
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
}
.Authorization__form a{
    color:rgb(53, 53, 222);
    text-decoration: none;
}