/*Menu*/
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu h1{
  font-size: 3em;
  font-family:Arial, Helvetica, sans-serif;
  margin: 3rem;
}
.dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 3rem;
    max-width: 82vw;
    margin: 0 auto;
  }
#OrderNowMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF8A00;
  color: #fafaf9;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-weight: bold;
  
}
#OrderNowMenu::before{
  content: "Order Now";
  
}

.menu-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    width: 100vw;
  }

  .menu-categoryButton {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: #fafaf9;
    color: #311F09;
    font-weight: bold;
    margin:0 15px;
  }
  .menu-categoryActiveButton{
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: #311F09;
    color: #fafaf9;
    font-weight: bold;
    margin:0 15px;
  }
  .menu-category button:hover {
    background-color: #311F09;
    color: #fafaf9;
  }
@media  (max-width: 767px){
    .dish-container{
      max-width: 95vw;
      column-gap: 2rem;
    }
    #OrderNowMenu::before{
      content: "+";
      
    }
    #OrderNowMenu{
      width: 50px;
      
    }
    .menu-category{
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
    }
    .menu-categoryButton{
      width: 150px;
      height: 50px;
      margin-top: 20px;
    }
    .menu-categoryActiveButton{
      margin-top: 20px;
      width: 150px;
      height: 50px;
    }
  }
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 60px;
}


.pagination h2{
  margin: 10px;
  color: dimgrey;
}
.pag-numb{
  
  background-color: #ff880037;
  color: #FF8A00;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 5px;
}

.pag-numbActive, .pag-numb:hover{
  background-color: #ff8800bf;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 5px;
}

.pag-nav{
  background-color: #311F09;

  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 5px;
}
.pag-nav:hover{
  background-color: #b0b0b0;
  color: #311F09;
  
}



