header {
  
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  
  
}
#Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px ;
  width: 100%;
  
  
  
}
.Buttons-Header{
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
}
.Burger-Menu {
  
  background-color: #f2f2f2d1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  overflow: hidden;

  opacity: 0;
  pointer-events: none;
}
.Burger-Menu.active{
  opacity: 1;
  pointer-events: all;
}
.Burger-Menu a{
 margin: 10px auto;
}
.Burger-Menu button{
  width: 40px ;
  height: 40px;
  border: none;
  background-color:rgb(49, 31, 9);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-left: 30px;
  margin-top: 20px;
}

.Burger-Menu-Header{
  display: none;
  justify-content: space-between;
  align-items: center;
}
.Burger-Menu-Header button{
  padding-top:  5px;
  border: none;
  background-color: transparent;
  
  margin-left: 20px;


}
.Burger-Menu div {
  display: flex;
  flex-direction: column;
  

}


.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container a{
  margin: 0 15px 0 15px;
}
@media (max-width: 1000px){
  
  header {
    width: 100vw;
    padding: 0;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
  }
  .Burger-Menu-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  

  

  .Buttons-Header{
    display: none;
  }
  
  
}
.LogoHeader{
  margin-top: 9px;
  margin-bottom: 10px;
  width: 30px;
  background-color: rgb(49, 31, 9);
  border-radius: 50%;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
.Logo-Header{
  display: flex;
  
  align-items: center;
}
.Logo-Header a{
  margin:   0;

}
.LogoNameHeader {
  color:rgb(49, 31, 9) ;
  font-size: 1rem;
  
 
  
  text-decoration: none;
}
.LogoNameHeader span{
  color:#ff8a00;
  text-decoration: none;
}
.headerButton{
  color :rgb(49, 31, 9);
  margin-top: 15px;
  text-decoration: none;
  font-size: 1.0rem;
  font-weight: 600;
}
.headerButton:hover{
  color: #ff8a00;
}
.activeHeader{
  color: #ff8a00;
  margin-top: 15px;
  font-size: 1.0rem;
  text-decoration: none;
  font-weight: 600;
}
.LogInButton{
  background-color: #3fa72f; 
  padding: 15px;
  border-radius: 30PX;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
.LogInButton:hover{
  background-color: #3fa72fac;
}
/*Footer*/
footer{
    background-color: rgb(49, 31, 9);
    display:flex;
    width:100vw ;
    flex-wrap: wrap;
    padding-bottom: 50px;
     
  }
  @media (min-width: 767px) {
    .Info{
      max-width: 15%;
      margin-top: 10%;
      padding-left: 5%; 
      margin: 5%
    }
  }

  @media (max-width: 767px) {
    footer {
      display: flex; /* Переключаем на вертикальное расположение */
      flex-direction: column;
      width: 100vw;
    }
    .Info{
      max-width: 500px;
      padding-left: 5%; 
      margin-top: 5%;
      margin-bottom: 0;
    }
    .contacts{
      padding-top: 90px;
    }
  }
  .LogoFooter{
    margin-top: 9px;
    margin-bottom: 10px;
    width: 40px;
  }
  .LogoName {
    color:rgb(227, 226, 223) ;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 35p
  }
  .LogoName span{
    color:#ff8a00
  }
  .footerText{
    color: rgb(227, 226, 223) ;
    max-width:  250px;
    letter-spacing:0.08em;
    line-height: 160%;
    word-spacing: 100%;
  }
  
  .footerH1{
    color: rgb(255, 138, 0);
  }
  .socialsite{
    max-width: 25px;
    
  }
  .socialsiteButton{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .buttonBlock{
    display: flex;
  }
  
  .footerButton{
    color :rgb(227, 226, 223);
    
    margin-top: 15px;
    text-decoration: none;
  }
  .activeFooter{
    color: #ff8a00;
    margin-top: 15px;
    text-decoration: none;
  }
  .footerButton:hover{
    color: #ff8a00;
  }
  .Page{
    display: grid;

    margin-top: 10%;
    margin: 5%;
    margin-bottom: 0;
  }
  .Information{
    display: grid;
    grid-row-gap: 5px;
    height: 12vh;
 
    margin-top: 10%;
    margin: 5%;
    margin-bottom: 0;
    margin-right:5% ;
  }
  .contacts{
    
    margin-top: 10%;
    margin: 5%;
    margin-left: 5%;
  }