
.dish {
    max-width:  17rem;
    text-align: center;
    border-radius: 55px;
    padding: 0.5rem;
    background-color: #fafaf9;
}

.dish-img {
    max-width:  60%;
    margin: 0 auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.dish p {
    margin: 0 0 0.5rem;
}

.dish-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
