@font-face {
    font-family: 'CustomFont'; 
    src: url('.\assets\Fonts\Poppins-Light.ttf');
}
@font-face {
    font-family: 'CustomFont-Medium'; 
    src: url('.\assets\Fonts\Poppins-Light-Medium.ttf');
}
:root {
    line-height: 1.5;
    font-weight: 2;
    font-family: 'CustomFont';
}


body {
    margin: 0;
    display: flex;
    place-items: top;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'CustomFont';

}
main{
    width: 100vw;
}

h1 {
    font-size: 1.5em;
    line-height: 1.1;
    color: #311F09;
}

p{
    font-size: 1em;
    line-height: 1.1;
}

button{
    font-family: 'CustomFont';
    font-size: 1.2em;
    border-radius: 25px;
    border: none;
    background-color: #ff8a00;
    color: aliceblue;
    
}

.OrengeButton{
    margin: 5%;
    margin-top: 1%;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: #ff8a00;
}

.block{
    height: auto;
    width: 100%;
    
    margin: 0 auto;
  
    text-align: center;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    color: #5a422c; /* Коричневий колір тексту */
}
.custom-checkbox input {
    display: none;
}
.custom-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.custom-checkbox label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #5a422c9f; /* Коричнева рамка */
    border-radius: 25px;
    display: inline-block;
    margin-right: 8px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.custom-checkbox input:checked + label::before {
    background-color: #5a422c; /* Заповнене коло при виборі */
}
