.checkout{
    padding: 0 20%;
}
.checkout-header{
    display: flex;
    
    align-items: center;
    margin: 20px 0;
}
.checkout-header a{
    background-color: #311F09;
    width: 30px;
    height: 30px;
    display: flex   ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.checkout-header div{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}
.checkout-header h1{
    font-size: 2em;
}

.checkout-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout-address input{
    width: 80%;
    height: 70px;
    
    padding: 0 20px ;
    margin: 10px 0;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #d0ccc7;
    background-color:#d0ccc723 ;
}
.checkout-address button{
    width: 15%;
    height: 70px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #749FE0;
}
.checkout-data div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    ;
}
.checkout-data input{
    width: 40%;
    height: 70px;
    
    padding: 0 20px ;
    margin: 10px 0;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #d0ccc7;
    background-color:#d0ccc723 ;
}







#checkout-checkbox input:checked + label::before {
    background-color: #3FA72F; 
    
}
#checkout-checkbox-2  label::before {
    content: "";
    border-radius: 5px;
    background-color: #f0f8ff;
    box-shadow: none;
    border: 3px solid #311F09;
}
#checkout-checkbox-2 input:checked + label::before {
    background-color: #311F09; 
    content: "✔"; /* Додає галочку */
    color: white; /* Колір галочки */
    font-size: 14px; /* Розмір галочки */
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkout-checkbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    color: #5a422c; 
    align-items: flex-start; /* Додає вирівнювання контенту зліва */

}
#checkout-checkbox div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#checkout-checkbox label{
    width: 250px;
    
}
#checkout-checkbox h1 {
    margin: 30px 0;
}
.Order-Now{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Order-Now button{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin: 20px 0;
}
.payment-method {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    
    
    
}
.payment-method label {
    min-width: 350px;
    height: 50px;
    background-color:#bebdba46 ;
    padding: 10px 20px;
    margin: 10px 30px 10px 0;
    border-radius: 15px;
    
}




