/*Menu*/
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu h1{
  font-size: 3em;
  font-family:Arial, Helvetica, sans-serif;
  margin: 3rem;
}
.dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 3rem;
    max-width: 68%;
    margin: 0 auto;
  }

.menu-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .menu-category button {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: #fafaf9;
    color: #311F09;
    font-weight: bold;
    margin-left: 30px;
  }

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 60px;
}


.pagination h2{
  margin: 10px;
  color: dimgrey;
}
.pag-numb{
  
  background-color: #ff880037;
  color: #FF8A00;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 5px;
}
.pag-nav{
  background-color: #311F09;

  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 5px;
}



